{{#view contentBinding="Tarot.spread_controller.situation"}}
	<div id="situation">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.challenge"}}
	<div id="challenge">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.foundation"}}
	<div id="foundation">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.higher_power"}}
	<div id="higher_power">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.past"}}
	<div id="past">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.future"}}
	<div id="future">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.blocks"}}
	<div id="blocks">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.influences"}}
	<div id="influences">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.hope_fear"}}
	<div id="hope_fear">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
{{#view contentBinding="Tarot.spread_controller.outcome"}}
	<div id="outcome">
		<img {{bindAttr src="content.image"}} />
	</div>
{{/view}}
